In [1]:
#
#Question 1!
#
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
# Check for missing values
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [3]:
#
#Question 2!
#
# Get the number of rows and columns
rows, columns = df.shape
print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")
# Observations:individual data points or records in the dataframe
# Variables: characteristics or attributes that describe the observations.

Number of rows: 391
Number of columns: 11

In [4]:
#
#Question 3!
#
# link to chatGPT transcrip log:  https://chatgpt.com/share/66e38be1-a69c-800b-bb90-018f8bdb7282
# View the first few rows
print(df.head())

   row_n       id     name  gender    species birthday personality  \
0      2  admiral  Admiral    male       bird     1-27      cranky
1      3  agent-s  Agent S  female   squirrel      7-2       peppy
2      4    agnes    Agnes  female        pig     4-21        uchi
3      6       al       Al    male    gorilla    10-18        lazy
4      7  alfonso  Alfonso    male  alligator      6-9        lazy

          song    phrase           full_id  \
0   Steep Hill   aye aye  villager-admiral
1      DJ K.K.  sidekick  villager-agent-s
2   K.K. House   snuffle    villager-agnes
3   Steep Hill   Ayyeeee       villager-al
4  Forest Life  it'sa me  villager-alfonso

                                                 url
0  https://villagerdb.com/images/villagers/thumb/...
1  https://villagerdb.com/images/villagers/thumb/...
2  https://villagerdb.com/images/villagers/thumb/...
3  https://villagerdb.com/images/villagers/thumb/...
4  https://villagerdb.com/images/villagers/thumb/...

In [5]:
# Check the data types
print(df.dtypes)

row_n           int64
id             object
name           object
gender         object
species        object
birthday       object
personality    object
song           object
phrase         object
full_id        object
url            object
dtype: object

In [6]:
# Get basic statistics (summary)
print(df.describe())

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [7]:
# Get a summary of non-numeric (categorical) data.
print(df.describe(include='object'))

             id     name gender species birthday personality          song  \
count       390      391    391     391      391         391           380
unique      390      391      2      35      361           8            92
top     admiral  Admiral   male     cat     1-27        lazy  K.K. Country
freq          1        1    204      23        2          60            10

         phrase           full_id  \
count       391               391
unique      388               391
top     wee one  villager-admiral
freq          2                 1

                                                      url
count                                                 391
unique                                                391
top     https://villagerdb.com/images/villagers/thumb/...
freq                                                    1

In [10]:
#
#Question 4!
#
# link to chatGPT transcrip log: https://chatgpt.com/share/66e38c2d-3b80-800b-bd72-6fbd6de4f257
# 'shape' does not differentiate between numeric and non-numeric columns or missing values.
# The count of rows and columns is absolute. It does not account for missing values.
print(df.shape)

(391, 11)

In [11]:
# 'df.describe()' only provides summary statistics for numeric columns.
# It does not include non-numeric (categorical) columns in its output.
# By contrast, 'describe()' reports the count of non-missing (non-null) values.
print(df.describe())

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [ ]:
#
#Question 5!
#
# attribute: values or properties associated with an object. They are accessed without parentheses.
#    Example:'df.shape' provides the dimensions of the DataFrame. It directly gives you the number of rows and columns.
# Methods: functions that are associated with an object. They perform operations or computations on the object.
#    Example: 'df.describe()'' is returns summary statistics for numeric columns in the DataFrame. It requires parentheses.

In [12]:
#
#Question 6!
#
# Count: The number of non-null entries in the column. It tells you how many values are present in the column, excluding any missing values.
# Mean: The average of the values in the column. It is calculated by summing all the values and then dividing by the number of non-null values.
# Std (Standard Deviation): A measure of the amount of variation or dispersion in the values. It quantifies how much the values in the column deviate from the mean. A higher standard deviation indicates greater variability.
# Min: The smallest value in the column. It represents the minimum value among the non-null entries.
# 25% (First Quartile or Q1): The value below which 25% of the data falls. It is the 25th percentile and represents the lower quartile in a sorted dataset.
# 50% (Median or Second Quartile or Q2):The middle value of the dataset. It divides the data into two equal halves. For an odd number of observations, it is the middle value; for an even number, it is the average of the two middle values.
# 75% (Third Quartile or Q3): The value below which 75% of the data falls. It is the 75th percentile and represents the upper quartile in a sorted dataset.
# Max: The largest value in the column. It represents the maximum value among the non-null entries.
print(df.describe())

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [ ]:
#
#Question 7!
#
#Q1: Provide an example of a "use case" in which using df.dropna() might be peferred over using del df['col']
    # Imagine you have a dataset of customer transactions.You need to use the complete information of customers to carry on work. 'df.dropna()' ensures that all remaining transactions have complete information necessary for your analysis.
#Q2: Provide an example of "the opposite use case" in which using del df['col'] might be preferred over using df.dropna().
    # You have a dataset of survey responses. The 'optional_comments' column has many missing entries but is not essential for the main analysis.
#Q3: Discuss why applying del df['col'] before df.dropna() when both are used together could be important
    # Removing columns with excessive missing values can simplify the dataset and reduce the impact of missing data on rows. 'df.dropna()' might still encounter issues if the remaining columns have enough missing data.

In [13]:
#Q4: Remove all missing data from one of the datasets you're considering using some combination of del df['col'] and/or df.dropna() and give a justification for your approach, including a "before and after" report of the results of your approach for your dataset.
# link to chatGPT transcrip log: https://chatgpt.com/share/e0b42fa5-473a-4703-8838-6c4b6c068167

# Check for missing data
missing_data = df.isnull().sum()
print("Missing data in each column:\n", missing_data)

# Remove rows with any missing values
df_cleaned_rows = df.dropna()

# Remove columns with any missing values
df_cleaned_cols = df.dropna(axis=1)

# Print initial dataset info
print("Initial dataset info:")
print(df.info())

# Print summary of missing values
print("Summary of missing values:\n", missing_data)

# Print dataset info after removing rows with missing values
print("Dataset info after removing rows with missing values:")
print(df_cleaned_rows.info())

# Print dataset info after removing columns with missing values
print("Dataset info after removing columns with missing values:")
print(df_cleaned_cols.info())

Missing data in each column:
 row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64
Initial dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_n        391 non-null    int64
 1   id           390 non-null    object
 2   name         391 non-null    object
 3   gender       391 non-null    object
 4   species      391 non-null    object
 5   birthday     391 non-null    object
 6   personality  391 non-null    object
 7   song         380 non-null    object
 8   phrase       391 non-null    object
 9   full_id      391 non-null    object
 10  url          391 non-null    object
dtypes: int64(1), object(10)
memory usage: 33.7+ KB
None
Summary of missing values:
 row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64
Dataset info after removing rows with missing values:
<class 'pandas.core.frame.DataFrame'>
Index: 379 entries, 0 to 390
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_n        379 non-null    int64
 1   id           379 non-null    object
 2   name         379 non-null    object
 3   gender       379 non-null    object
 4   species      379 non-null    object
 5   birthday     379 non-null    object
 6   personality  379 non-null    object
 7   song         379 non-null    object
 8   phrase       379 non-null    object
 9   full_id      379 non-null    object
 10  url          379 non-null    object
dtypes: int64(1), object(10)
memory usage: 35.5+ KB
None
Dataset info after removing columns with missing values:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_n        391 non-null    int64
 1   name         391 non-null    object
 2   gender       391 non-null    object
 3   species      391 non-null    object
 4   birthday     391 non-null    object
 5   personality  391 non-null    object
 6   phrase       391 non-null    object
 7   full_id      391 non-null    object
 8   url          391 non-null    object
dtypes: int64(1), object(8)
memory usage: 27.6+ KB
None

In [13]:
#
#Question 8!
#
# link to chatGPT transcrip log: https://chatgpt.com/share/fe146460-b96c-400d-9535-39e6e4082c1d
# df.groupby("col1"): This groups the DataFrame df by the unique values in the column "col1".
# ["col2"]: After grouping, this selects the column "col2" from each group. This limits the analysis to only the data in the "col2" column within each group.
# .describe(): This generates summary statistics for the "col2" values within each group.

# Example of using code: df.groupby("sex")["fare"].describe()
import pandas as pd
url2 = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df2 = pd.read_csv(url2)
df2.groupby("sex")["fare"].describe()
# This will group the passengers by their sex, then calculate summary statistics for the "fare" column within each class group.

        count       mean        std   min        25%   50%    75%       max
sex
female  314.0  44.479818  57.997698  6.75  12.071875  23.0  55.00  512.3292
male    577.0  25.523893  43.138263  0.00   7.895800  10.5  26.55  512.3292

In [ ]:
# link to chatGPT transcrip log: https://chatgpt.com/share/0c1195f4-9135-4760-aec2-7beea6263717
# df.describe(): about missingness at the column level.
# df.groupby("col1")["col2"].describe() reflect the behavior of the grouped data for the second column.

In [ ]:
# Based on the 8 example errors listed below, I find that the trouble shooting of chatGPT is better than Google.
# For some basic problems like problem 1, both chatGPT and Google can give working solution.
# But for some specific problems like problem 6,7,8, chatGPT can give me more precise reponce. (ChatGPT is able to read and analyse the dataframe)
# Google's answer is more common and sometimes can't give me meaningful responce.

In [1]:
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df
# link to chatGPT transcrip log: https://chatgpt.com/share/66e37e6d-9724-800b-9cdc-d7640e0997a1

NameError: name 'pd' is not defined

In [3]:
import pandas as pd
url2 = "titanics.csv"
df2 = pd.read_csv(url2)
df2.groupby("sex")["fare"].describe()
# link to chatGPT transcrip log: https://chatgpt.com/share/66e37f93-a908-800b-b064-4956ff18d311

FileNotFoundError: [Errno 2] No such file or directory: 'titanics.csv'

In [4]:
import pandas as pd
url2 = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df2 = pd.read_csv(url2)
DF2.groupby("sex")["fare"].describe()
# link to chatGPT transcrip log: https://chatgpt.com/share/66e38065-5978-800b-99a5-9cfb17d80277

NameError: name 'DF2' is not defined

In [5]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url
# link to chatGPT transcrip log: https://chatgpt.com/share/66e380de-a1fc-800b-94ee-dc4e9f423553

SyntaxError: incomplete input (127423277.py, line 3)

In [7]:
import pandas as pd
url2 = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df2 = pd.read_csv(url2)
df2.group_by("sex")["fare"].describe()
# link to chatGPT transcrip log: https://chatgpt.com/share/66e38214-7088-800b-89a6-2ea7f2d7129a

AttributeError: 'DataFrame' object has no attribute 'group_by'

In [9]:
import pandas as pd
url2 = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df2 = pd.read_csv(url2)
df2.groupby("Sex")["faRe"].describe()
# link to chatGPT transcrip log: https://chatgpt.com/share/66e38332-e230-800b-87fe-1bcc4641190e

KeyError: 'Sex'

In [10]:
import pandas as pd
url2 = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df2 = pd.read_csv(url2)
df2.groupby(sex)["fare"].describe()
# link to chatGPT transcrip log: https://chatgpt.com/share/66e38401-0d64-800b-9b53-318f0731e0ee

NameError: name 'sex' is not defined

In [ ]:
#
#Question 9!
#
# I have use chatGPT to give me some explaination about the document of lectures. This greatly help me understand the lecture.
# link to chatGPT transcrip log: https://chatgpt.com/share/66e388a2-b030-800b-b163-cf2e06645b0f